.container-box {
    max-width: 100%;
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.box-1 {
    background: #a1c9cb;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-2 {
    background: #9a7351;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-3 {
    background: #591f2e;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-4 {
    background: #444651;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-5 {
    background: #012116;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-6 {
    background: #cb8d12;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-7 {
    background: #354d6a;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}


.box-8 {
    background: #0b545d;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-9 {
    background: #674d66;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-10 {
    background: #858d71;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-11 {
    background: #d6adad;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-12 {
    background: #b9adcf;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-13 {
    background: #ffdeb9;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-14 {
    background: #98ff98;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}

.box-15 {
    background: #deb887;
    padding: 80px 130px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 20px;
}